<div class="container-fluid foot">
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-3 leftside">
      <h5 class="wow rubberBand">ABOUT US</h5>
      <hr>
      <p class="wow fadeInUp">
It is a long established fact that a reader will be distracted by
 the readable content of a page when looking at its layout. The point of using Lorem Ipsum
is that it has a more-or-less normal distribution of letters, as opposed to
      </p>
    <a href="twitter.com">   <img class="wow tada" data-wow-delay="0s" id="face" src="../assets/images/social/face.png" alt="facebook" ></a>
    <a href="twitter.com"> <img class="wow tada" data-wow-delay=".25s" src="../assets/images/social/twitter.png" alt="twitter"></a>
    <a href="twitter.com">  <img class="wow tada" data-wow-delay=".5s" src="../assets/images/social/gmail.png" alt="googleplus"></a>
    <a href="twitter.com">  <img class="wow tada" data-wow-delay=".75s" src="../assets/images/social/link.png" alt="linkdin"></a>
    <a href="twitter.com">  <img class="wow tada" data-wow-delay="1s" src="../assets/images/social/insta.png" alt="instagram"></a>
    </div>
    <div class="col-md-2 leftside middle1">
<h5 class="wow rubberBand">META</h5>
<hr>
<p class="wow fadeInUp">Login</p><hr>
<p class="wow fadeInUp">Menu</p><hr>
<p class="wow fadeInUp">Android App</p><hr>
<p class="wow fadeInUp">Apple App</p>
    </div>
    <div class="col-md-3 leftside middle2">
<h5 class="wow rubberBand">CONTACT US</h5><hr>
<img class="wow tada" src="../assets/images/social/phone-icon-hi.png" alt="">&nbsp;&nbsp;&nbsp;071 0618 776
<br><br><img class="wow tada" data-wow-delay="0.5s" src="../assets/images/social/icon-email.png" alt="">&nbsp;&nbsp;&nbsp;Binojishara21@gmail.com
<br><br><img class="wow tada" data-wow-delay="1s"src="../assets/images/social/icon-email.png" alt="">&nbsp;&nbsp;&nbsp;Nimal_stores<br>&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Navadagala.
    </div>
    <div class="col-md-2 leftside middle3">
<h5 class="wow rubberBand">GET IN TOUCH</h5><hr>
<form class="" action="index.html" method="post">
  <input class="form-control" type="text" name="name" value="Name"><br>
  <input class="form-control" type="text" name="" value="email"><br>
  <input class="form-control" type="submit" name="submit" value="submit">
</form>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>
