<app-navbar></app-navbar>
<app-carosal></app-carosal>
<div class="container">
  <h4 class="text-center caption">Services</h4>
  <div class="row para">
    <div class="col-md-4">
      <div class="text-center">
        <img src="../assets/images/icon/98750-200.png" alt="fast">
      </div>
      <p>
fast ordering sysytem that enhance if you at home,
you can order and come to buy foods.lorum ipsum lorum ipsum
lorum ipsum lorum ipsumlorum ipsumlorum ipsumlorum ipsum
      </p>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <img src="../assets/images/icon/216836-200.png" alt="image-2">
      </div>
      <p>
        fast ordering sysytem that enhance if you at home,
        you can order and come to buy foods.lorum ipsum lorum ipsum
        lorum ipsum lorum ipsumlorum ipsumlorum ipsumlorum ipsum
      </p>
    </div>
    <div class="col-md-4">
      <div class="text-center">
          <img src="../assets/images/icon/213.png" alt="image-3">
      </div>
        <p>
        fast ordering sysytem that enhance if you at home,
        you can order and come to buy foods.lorum ipsum lorum ipsum
        lorum ipsum lorum ipsumlorum ipsumlorum ipsumlorum ipsum
      </p>
    </div>
  </div>
</div>
