<app-navbar></app-navbar>
<app-carosal></app-carosal>
<div class="container">
  <h2 class="text-center caption">Services</h2>

  <div class="row para">
    <div class="col-md-4 wow fadeInUp" data-wow-delay="0s">
      <div class="text-center">
        <img src="../assets/images/icon/98750-200.png" alt="fast">
      </div>
      <h5 class="text-center">healing mesures</h5>
      <p>
fast ordering sysytem that enhance if you at home,
you can order and come to buy foods.lorum ipsum lorum ipsum
lorum ipsum lorum ipsumlorum ipsumlorum ipsumlorum ipsum
      </p>
    </div>
    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.25s">
      <div class="text-center">
        <img src="../assets/images/icon/216836-200.png" alt="image-2">
      </div>
      <h5 class="text-center">healing mesures</h5>
      <p>
        fast ordering sysytem that enhance if you at home,
        you can order and come to buy foods.lorum ipsum lorum ipsum
        lorum ipsum lorum ipsumlorum ipsumlorum ipsumlorum ipsum
      </p>
    </div>
    <div class="col-md-4 wow fadeInUp" data-wow-delay=".5s">

        <div class="text-center">
            <img src="../assets/images/icon/213.png" alt="image-3">
        </div>
        <h5 class="text-center">healing mesures</h5>
          <p>
          fast ordering sysytem that enhance if you at home,
          you can order and come to buy foods.lorum ipsum lorum ipsum
          lorum ipsum lorum ipsumlorum ipsumlorum ipsumlorum ipsum
        </p>


    </div>
  </div>
</div>
<app-recent></app-recent>
<app-footer></app-footer>
<div class="container">

</div>
