.recent{
  margin-top: 5%;

}
.recent h2{
   font-weight:normal;
}
.recent p{
margin-bottom: 5%;
}
.para input[type=button]{
z-index: 1;

background-color: Transparent;
background-repeat:no-repeat;
/* outline-color: black; */
border: 2px solid rgba(62, 61, 64, 0.48);
position: absolute;
width: 100px;
margin-left: 30%;
margin-top: 35%;
}
.para{
  width: 100%;
margin: 0;
overflow: hidden;
margin-bottom: 8%;
}
.para img{
  max-width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: all .5s;
  opacity: 1;
  background-color: Black;
}

.para img:hover{
  transform: scale(1.05);
  opacity: 0.2;
}
.para p{
  padding-top: 10%;
    position: absolute;
    text-align: center;
}
