<div class="container recent">
  <h2 class="text-center wow bounceInUp" data-wow-delay="0s">Recent meal & Beverages</h2>
  <p class="text-center wow zoomIn" data-wow-delay="0.5s">taste with your recent foods</p>
  <div class="row para">
    <div class="col-md-4">
      <p>It is a long established fact that a reader<br> will be distracted by
        the readable content of<br> a page when looking at its layout.</p>
<a href="www.gopro.com"><input class="form-control wow rollIn" data-wow-delay="0.25s" type="button" name="button" value="Order Now"></a>

<img src="../assets/images/sub.jpg" alt="submarine1">

    </div>
    <div class="col-md-4">
      <p>It is a long established fact that a reader<br> will be distracted by
        the readable content of<br> a page when looking at its layout.</p>
<a href="www.gopro.com"><input class="form-control wow rollIn" data-wow-delay="0.5s" type="button" name="button" value="Order Now"></a>
<img src="../assets/images/icebuk.jpg" alt="icebuk">
    </div>
    <div class="col-md-4">
      <p>It is a long established fact that a reader<br> will be distracted by
        the readable content of<br> a page when looking at its layout.</p>
        <a href="www.gopro.com"><input class="form-control wow rollIn" data-wow-delay="0.75s" type="button" name="button" value="Order Now"></a>
<img src="../assets/images/bev1.jpg" alt="bev1">
    </div>
  </div>
</div>
